In [28]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/Final dataset Attrition.xlsx')

In [29]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,...,Higher_Education,Date_of_Hire,Date_of_termination,Status_of_leaving,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
0,37,Yes,Travel_Rarely,Research & Development,2,Male,2,1,Laboratory Technician,3,...,Graduation,2021-01-21,NaN,Salary,OFFICE,4,2,No,Job Event,Contract
1,21,No,Travel_Rarely,Research & Development,15,Male,3,1,Research Scientist,4,...,Graduation,2021-03-13,NaN,Work Accident,WFH,5,2,No,Recruiter,Part Time
2,45,No,Travel_Rarely,Research & Development,6,Male,3,3,Research Director,1,...,Post-Graduation,2021-01-23,NaN,Dept.Head,WFH,1,3,No,Job Event,Contract
3,23,No,Travel_Rarely,Sales,2,Male,3,1,Sales Representative,1,...,PHD,2021-04-25,NaN,Work Accident,OFFICE,1,0,Yes,Recruiter,FullTime
4,22,No,Travel_Rarely,Research & Development,15,Female,3,1,Laboratory Technician,4,...,PHD,2021-06-14,NaN,Better Opportunity,WFH,5,2,No,Job Event,Contract

In [30]:
df.shape

(1470, 32)

In [31]:
df.isnull().sum()

Age                           0
Attrition                     0
BusinessTravel                0
Department                    0
DistanceFromHome              0
Gender                        0
JobInvolvement                0
JobLevel                      0
JobRole                       0
JobSatisfaction               0
MaritalStatus                 0
MonthlyIncome                 0
NumCompaniesWorked            0
OverTime                      0
PercentSalaryHike             0
PerformanceRating             0
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear         0
YearsAtCompany                0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
Higher_Education              0
Date_of_Hire                  0
Date_of_termination        1470
Status_of_leaving             0
Mode_of_work                  0
Leaves                        0
Absenteeism                   0
Work_accident                 0
Source_of_Hire                0
Job_mode                      0
dtype: int64

In [32]:
df = df.drop(columns='Date_of_termination' ,axis =1)
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,...,YearsWithCurrManager,Higher_Education,Date_of_Hire,Status_of_leaving,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
0,37,Yes,Travel_Rarely,Research & Development,2,Male,2,1,Laboratory Technician,3,...,0,Graduation,2021-01-21,Salary,OFFICE,4,2,No,Job Event,Contract
1,21,No,Travel_Rarely,Research & Development,15,Male,3,1,Research Scientist,4,...,0,Graduation,2021-03-13,Work Accident,WFH,5,2,No,Recruiter,Part Time
2,45,No,Travel_Rarely,Research & Development,6,Male,3,3,Research Director,1,...,0,Post-Graduation,2021-01-23,Dept.Head,WFH,1,3,No,Job Event,Contract
3,23,No,Travel_Rarely,Sales,2,Male,3,1,Sales Representative,1,...,0,PHD,2021-04-25,Work Accident,OFFICE,1,0,Yes,Recruiter,FullTime
4,22,No,Travel_Rarely,Research & Development,15,Female,3,1,Laboratory Technician,4,...,0,PHD,2021-06-14,Better Opportunity,WFH,5,2,No,Job Event,Contract

In [33]:
df['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [34]:
df.describe()

,Age,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Leaves,Absenteeism
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,9.192517,2.729932,2.063946,2.728571,6502.931293,2.693197,15.209524,3.153741,0.793878,11.279592,2.799320,7.008163,2.187755,4.123129,2.568707,1.525170
std,9.135373,8.106864,0.711561,1.106940,1.102846,4707.956783,2.498009,3.659938,0.360824,0.852077,7.780782,1.289271,6.126525,3.222430,3.568136,1.716171,1.097856
min,18.000000,1.000000,1.000000,1.000000,1.000000,1009.000000,0.000000,11.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,2.000000,1.000000,2.000000,2911.000000,1.000000,12.000000,3.000000,0.000000,6.000000,2.000000,3.000000,0.000000,2.000000,1.000000,1.000000
50%,36.000000,7.000000,3.000000,2.000000,3.000000,4919.000000,2.000000,14.000000,3.000000,1.000000,10.000000,3.000000,5.000000,1.000000,3.000000,3.000000,2.000000
75%,43.000000,14.000000,3.000000,3.000000,4.000000,8379.000000,4.000000,18.000000,3.000000,1.000000,15.000000,3.000000,9.000000,3.000000,7.000000,4.000000,2.000000
max,60.000000,29.000000,4.000000,5.000000,4.000000,19999.000000,9.000000,25.000000,4.000000,3.000000,40.000000,6.000000,40.000000,15.000000,17.000000,5.000000,3.000000

In [35]:
df.replace({'BusinessTravel':{'Travel_Rarely':1,'Non-Travel':0,'Travel_Frequently':2},'Department':{'Research & Development':0,'Sales':1,'Human Resources':2},
            'Gender':{'Male':0,'Female':1},'Status_of_leaving':{'Dept.Head':0,'Salary':1,'Work Environment':2,'Work Accident':3,'Better Opportunity':4},
            'Mode_of_work':{'WFH':0,'OFFICE':1},'Work_accident':{'No':0,'Yes':1},'Source_of_Hire':{'Recruiter':0,'Job Event':1,'Walk-in':2,'Job Portal':3},
            'Job_mode':{'FullTime':0,'Contract':1,'Part Time':2},'OverTime':{'No':0,'Yes':1},'MaritalStatus':{'Married':0,'Single':1,'Divorced':2},
            'Higher_Education':{'Post-Graduation':0,'Graduation':1,'PHD':2,'12th':3},'Attrition':{'Yes':1,'No':0}},inplace=True)

In [36]:
df = df.drop(columns='JobRole',axis=1)
df = df.drop(columns='Date_of_Hire',axis=1)

In [37]:
df['OverTime']

0       1
1       0
2       1
3       0
4       0
       ..
1465    0
1466    1
1467    0
1468    0
1469    0
Name: OverTime, Length: 1470, dtype: int64

In [38]:
import numpy as np

df.groupby('Attrition').mean()

,Age,BusinessTravel,Department,DistanceFromHome,Gender,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,...,YearsSinceLastPromotion,YearsWithCurrManager,Higher_Education,Status_of_leaving,Mode_of_work,Leaves,Absenteeism,Work_accident,Source_of_Hire,Job_mode
Attrition,,,,,,,,,,,,,,,,,,,,,
0,37.561233,1.056772,0.369830,8.915653,0.406326,2.770479,2.145985,2.778589,0.760746,6832.739659,...,2.234388,4.367397,1.468775,1.947283,0.476075,2.600162,1.54339,0.497161,1.447689,0.982968
1,33.607595,1.240506,0.489451,10.632911,0.367089,2.518987,1.637131,2.468354,0.784810,4787.092827,...,1.945148,2.852321,1.459916,1.970464,0.485232,2.405063,1.43038,0.510549,1.476793,0.894515

In [39]:
X = df.drop(columns='Attrition',axis=1)
Y = df['Attrition']

In [40]:
print(Y)

0       1
1       0
2       0
3       0
4       0
       ..
1465    0
1466    0
1467    0
1468    0
1469    1
Name: Attrition, Length: 1470, dtype: int64

In [41]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm

In [42]:
X_train, X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.1,stratify=Y,random_state=2)

In [43]:
print(X.shape, X_train.shape, X_test.shape)

(1470, 28) (1323, 28) (147, 28)

Training the model:

Support Vector Machine Model

In [44]:
classifier = svm.SVC(kernel='linear')

In [45]:
#training the support Vector Macine model
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

Model Evaluation

In [46]:
# accuracy score on training data
X_train_prediction = classifier.predict(X_train)
training_data_accuray = accuracy_score(X_train_prediction,Y_train)

In [47]:
print('Accuracy on training data : ', training_data_accuray)

Accuracy on training data :  0.8647014361300076

In [48]:
# accuracy score on training data
X_test_prediction = classifier.predict(X_test)
test_data_accuray = accuracy_score(X_test_prediction,Y_test)

In [49]:
print('Accuracy on test data : ', test_data_accuray)

Accuracy on test data :  0.8843537414965986

In [63]:
input_data = (30,1,2,2,1,2,2,4,1,6877,5,1,24,4,0,12,4,0,0,0,1,2,0,3,3,1,1,2)

data =  np.asarray(input_data)
reshaped_data = data.reshape(1,-1)
scaler = StandardScaler()
std_data = scaler.fit_transform(reshaped_data)
prediction = classifier.predict(std_data)
print(prediction)

if(prediction[0]==1):
  print("Attrition")
else:
  print("No Attrition")

[1]
Attrition

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"